Workflows/Brevard_Grok/brevard_scraper_v1_grok_excel.json
{
  "name": "Brevard Scraper v1 - Grok + Excel",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 300],
      "id": "trigger",
      "name": "When clicking 'Execute'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer {{$credentials.firecrawlApiKey}}" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": {
          "url": "https://brevard.realtdm.com/public/cases/list",
          "formats": ["markdown"],
          "onlyMainContent": true,
          "skipImages": true,
          "excludeElements": ["img", "figure", "svg", "canvas"],
          "js": true,
          "waitFor": 15000,
          "headers": {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
            "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
            "Accept-Language": "en-US,en;q=0.5",
            "Connection": "keep-alive",
            "Upgrade-Insecure-Requests": "1"
          }
        },
        "options": { "timeout": 180000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, 300],
      "id": "firecrawl",
      "name": "Firecrawl"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst content = data.markdown || '';\n\nif (!content || content.length < 100) {\n  throw new Error('No content from Firecrawl');\n}\n\nconst prompt = `You are a TEXT-ONLY data extraction assistant. Do NOT analyze any images, screenshots, or visual elements.\n\nExtract Brevard surplus cases for 02/19/2026 from this text:\n\n${content.substring(0, 15000)}\n\nFilter criteria (TEXT ONLY):\n- Status = ACTIVE\n- Surplus >= $25,000  \n- Owner = Individual (NOT LLC, INC, CORP, TRUST, BANK)\n\nExtract these TEXT fields:\n- Case Number\n- Parcel Number  \n- Case Parties (Owner name)\n- Property Address\n- Surplus Remaining\n\nOutput JSON - TEXT ONLY, no image references:\n{\"found\":true,\"cases\":[{\"Case Number\":\"\",\"Parcel Number\":\"\",\"Case Parties\":\"\",\"Property Address\":\"\",\"Surplus Remaining\":\"\"}]}\nOr: {\"found\":false,\"cases\":[]}`;\n\nreturn { json: { message: prompt, model: \"grok-3-fast\" } };",
        "functionName": "prepGrok"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "prep",
      "name": "Prepare Grok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 300],
      "id": "grok",
      "name": "Grok"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.response || '';\nlet parsed = { found: false, cases: [] };\n\ntry {\n  const jsonMatch = raw.match(/```json\\n?([\\s\\S]*?)\\n?```/) || raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n} catch (e) { }\n\nif (!parsed.found || !parsed.cases?.length) return [{ json: { found: false } }];\nreturn parsed.cases.map(c => ({ json: { ...c, found: true } }));",
        "functionName": "parseGrok"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "parse",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.found }}", "operation": "isFalse" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "if",
      "name": "Check"
    },
    {
      "parameters": { "jsCode": "return [{ json: { message: 'No cases' } }];" },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 150],
      "id": "none",
      "name": "No Cases"
    },
    {
      "parameters": {
        "filePath": "D:/share/.vscode/Brevard_With_Eval_Results.xlsx",
        "operation": "read",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [400, 450],
      "id": "excelRead",
      "name": "Read Excel"
    },
    {
      "parameters": {
        "jsCode": "const newCases = items[0].json.found ? items.slice(1) : [];\nconst existing = items[1]?.json?.data || items[1]?.json || [];\nconst all = [...(Array.isArray(existing) ? existing : []), ...newCases];\nreturn all.map(r => ({ json: r }));",
        "functionName": "combine"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "combine",
      "name": "Combine"
    },
    {
      "parameters": {
        "filePath": "D:/share/.vscode/Brevard_With_Eval_Results.xlsx",
        "operation": "write",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [800, 300],
      "id": "excelWrite",
      "name": "Write Excel"
    }
  ],
  "connections": {
    "When clicking 'Execute'": { "main": [[{ "node": "Firecrawl", "type": "main", "index": 0 }]] },
    "Firecrawl": { "main": [[{ "node": "Prepare Grok", "type": "main", "index": 0 }]] },
    "Prepare Grok": { "main": [[{ "node": "Grok", "type": "main", "index": 0 }]] },
    "Grok": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Check", "type": "main", "index": 0 }]] },
    "Check": { "main": [[{ "node": "No Cases", "type": "main", "index": 0 }], [{ "node": "Read Excel", "type": "main", "index": 0 }]] },
    "No Cases": { "main": [] },
    "Read Excel": { "main": [[{ "node": "Combine", "type": "main", "index": 0 }]] },
    "Combine": { "main": [[{ "node": "Write Excel", "type": "main", "index": 0 }]] }
  }
}
