Workflows/Brevard_Grok/brevard_scraper_v13.json
{
  "name": "Brevard Scraper v13 - Code Node Groq Fix",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 300],
      "id": "trigger",
      "name": "When clicking 'Execute'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://brevard.realtdm.com/public/cases/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" },
            { "name": "Origin", "value": "https://brevard.realtdm.com" },
            { "name": "Referer", "value": "https://brevard.realtdm.com/public/cases/list" }
          ]
        },
        "body": "filterPageNumber=1&filterCasesPerPage=20&filterFiltered=1&sectionRouteCode=&isPublic=1&filterCaseStatus=1099,1100,1077,1079,1078,1074,1073,1080,1095,1094&filterPartyName=&filterCaseNumber=&filterParcelNumber=&filterAppNumber=&filterCertNumber=&filterPropAddress=&filterSaleDateStart=02/19/2026&filterSaleDateStop=02/19/2026&filterBalanceType=surplusWithoutClaim",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, 300],
      "id": "httpPost",
      "name": "HTTP POST (Direct)"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.data || '';\n\nconsole.log('Response length:', response.length);\n\nif (!response || response.length < 500) {\n  throw new Error('No content from site');\n}\n\nconst prompt = `Extract Brevard surplus cases from this HTML.\\n\\n${response.substring(0, 12000)}\\n\\nFILTER:\\n- Sale Date: 02/19/2026\\n- Status: ACTIVE\\n- Surplus >= $25,000\\n- Owner: Individual\\n\\nFields: Case Number, Parcel Number, Case Parties, Property Address, Surplus Remaining\\n\\nJSON: {\"found\":true,\"cases\":[{\"Case Number\":\"\",\"Parcel Number\":\"\",\"Case Parties\":\"\",\"Property Address\":\"\",\"Surplus Remaining\":\"\"}]} or {\"found\":false,\"cases\":[]}`;\n\nreturn { json: { message: prompt } };",
        "functionName": "prepPrompt"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "prep",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.message || '';\n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];",
        "functionName": "buildGroqBody"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-250, 300],
      "id": "buildBody",
      "name": "Build Groq Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer gsk_j6wi1f9fPvTACGx9WLjpWGdyb3FYxgj3sLs6CVcEXsTTSZzfYUAoE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "llama-3.1-70b-versatile" },
            { "name": "messages", "value": "={{ JSON.stringify([{role: 'user', content: $json.message}]) }}" }
          ]
        },
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-50, 300],
      "id": "groq",
      "name": "Groq"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || '';\nlet parsed = { found: false, cases: [] };\n\ntry {\n  const jsonMatch = raw.match(/```json\\n?([\\s\\S]*?)\\n?```/) || raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n} catch (e) { }\n\nif (!parsed.found || !parsed.cases?.length) return [{ json: { found: false } }];\nreturn parsed.cases.map(c => ({ json: { ...c, found: true } }));",
        "functionName": "parseResponse"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [150, 300],
      "id": "parse",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.found }}", "operation": "isFalse" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [350, 300],
      "id": "if",
      "name": "Check"
    },
    {
      "parameters": { "jsCode": "return [{ json: { message: 'No cases found' } }];" },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 150],
      "id": "none",
      "name": "No Cases"
    },
    {
      "parameters": {
        "filePath": "D:\\share\\.vscode\\Brevard_With_Eval_Results.xlsx",
        "operation": "read",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [550, 450],
      "id": "excelRead",
      "name": "Read Excel"
    },
    {
      "parameters": {
        "jsCode": "const newCases = items[0].json.found ? items.slice(1) : [];\nconst existing = items[1]?.json?.data || items[1]?.json || [];\nconst all = [...(Array.isArray(existing) ? existing : []), ...newCases];\nreturn all.map(r => ({ json: r }));",
        "functionName": "combine"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "id": "combine",
      "name": "Combine"
    },
    {
      "parameters": {
        "filePath": "D:\\share\\.vscode\\Brevard_With_Eval_Results.xlsx",
        "operation": "write",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [950, 300],
      "id": "excelWrite",
      "name": "Write Excel"
    }
  ],
  "connections": {
    "When clicking 'Execute'": { "main": [[{ "node": "HTTP POST (Direct)", "type": "main", "index": 0 }]] },
    "HTTP POST (Direct)": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Build Groq Body", "type": "main", "index": 0 }]] },
    "Build Groq Body": { "main": [[{ "node": "Groq", "type": "main", "index": 0 }]] },
    "Groq": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Check", "type": "main", "index": 0 }]] },
    "Check": { "main": [[{ "node": "No Cases", "type": "main", "index": 0 }], [{ "node": "Read Excel", "type": "main", "index": 0 }]] },
    "No Cases": { "main": [] },
    "Read Excel": { "main": [[{ "node": "Combine", "type": "main", "index": 0 }]] },
    "Combine": { "main": [[{ "node": "Write Excel", "type": "main", "index": 0 }]] }
  }
}
