Workflows/Brevard_Grok/brevard_scraper_v2_grok_excel_firecrawl.json
{
  "name": "Brevard Scraper v2 - Grok + Excel + Firecrawl Node",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 300],
      "id": "trigger",
      "name": "When clicking 'Execute'"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "https://brevard.realtdm.com/public/cases/list",
        "scrapeOptions": {
          "options": {
            "onlyMainContent": true,
            "skipImages": true,
            "actions": [
              { "type": "wait", "milliseconds": 8000 },
              { "type": "click", "selector": ".btn-hide-disclaimer", "optional": true },
              { "type": "wait", "milliseconds": 2000 },
              { "type": "write", "selector": "#filterSaleDateStart", "text": "02/19/2026" },
              { "type": "write", "selector": "#filterSaleDateStop", "text": "02/19/2026" },
              { "type": "select", "selector": "#filterBalanceType", "value": "surplus" },
              { "type": "wait", "milliseconds": 1000 },
              { "type": "click", "selector": ".filters-submit" },
              { "type": "wait", "milliseconds": 15000 },
              { "type": "scroll", "direction": "down", "amount": 500 },
              { "type": "wait", "milliseconds": 3000 }
            ],
            "mobile": false,
            "waitFor": 15000,
            "timeout": 300000
          }
        }
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [-600, 300],
      "id": "firecrawl",
      "name": "Firecrawl"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst markdown = data.markdown || data.text || '';\n\nconsole.log('Content length:', markdown.length);\n\nif (!markdown || markdown.length < 100) {\n  throw new Error('No content from Firecrawl');\n}\n\nconst prompt = `You are a TEXT-ONLY data extraction assistant. Do NOT analyze any images.\n\nExtract Brevard surplus cases for 02/19/2026 from this page:\n\n${markdown.substring(0, 12000)}\n\nFilter criteria:\n- Status = ACTIVE\n- Surplus >= $25,000  \n- Owner = Individual (NOT LLC, INC, CORP, TRUST, BANK)\n\nExtract these TEXT fields:\n- Case Number\n- Parcel Number  \n- Case Parties (Owner name)\n- Property Address\n- Surplus Remaining\n\nOutput JSON - TEXT ONLY:\n{\"found\":true,\"cases\":[{\"Case Number\":\"\",\"Parcel Number\":\"\",\"Case Parties\":\"\",\"Property Address\":\"\",\"Surplus Remaining\":\"\"}]}\nOr: {\"found\":false,\"cases\":[]}`;\n\nreturn { json: { message: prompt, model: \"grok-3-fast\" } };",
        "functionName": "prepGrok"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "prep",
      "name": "Prepare Grok"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 300],
      "id": "grok",
      "name": "Grok"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.response || '';\nlet parsed = { found: false, cases: [] };\n\ntry {\n  const jsonMatch = raw.match(/```json\\n?([\\s\\S]*?)\\n?```/) || raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n} catch (e) { }\n\nconsole.log('Parsed:', JSON.stringify(parsed));\n\nif (!parsed.found || !parsed.cases?.length) return [{ json: { found: false } }];\nreturn parsed.cases.map(c => ({ json: { ...c, found: true } }));",
        "functionName": "parseGrok"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "parse",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.found }}", "operation": "isFalse" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "if",
      "name": "Check"
    },
    {
      "parameters": { "jsCode": "return [{ json: { message: 'No cases' } }];" },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 150],
      "id": "none",
      "name": "No Cases"
    },
    {
      "parameters": {
        "filePath": "D:/share/.vscode/Brevard_With_Eval_Results.xlsx",
        "operation": "read",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [400, 450],
      "id": "excelRead",
      "name": "Read Excel"
    },
    {
      "parameters": {
        "jsCode": "const newCases = items[0].json.found ? items.slice(1) : [];\nconst existing = items[1]?.json?.data || items[1]?.json || [];\nconst all = [...(Array.isArray(existing) ? existing : []), ...newCases];\nreturn all.map(r => ({ json: r }));",
        "functionName": "combine"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "combine",
      "name": "Combine"
    },
    {
      "parameters": {
        "filePath": "D:/share/.vscode/Brevard_With_Eval_Results.xlsx",
        "operation": "write",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [800, 300],
      "id": "excelWrite",
      "name": "Write Excel"
    }
  ],
  "connections": {
    "When clicking 'Execute'": { "main": [[{ "node": "Firecrawl", "type": "main", "index": 0 }]] },
    "Firecrawl": { "main": [[{ "node": "Prepare Grok", "type": "main", "index": 0 }]] },
    "Prepare Grok": { "main": [[{ "node": "Grok", "type": "main", "index": 0 }]] },
    "Grok": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Check", "type": "main", "index": 0 }]] },
    "Check": { "main": [[{ "node": "No Cases", "type": "main", "index": 0 }], [{ "node": "Read Excel", "type": "main", "index": 0 }]] },
    "No Cases": { "main": [] },
    "Read Excel": { "main": [[{ "node": "Combine", "type": "main", "index": 0 }]] },
    "Combine": { "main": [[{ "node": "Write Excel", "type": "main", "index": 0 }]] }
  }
}