Workflows/Brevard_Grok/brevard_scraper_v8.json
{
  "name": "Brevard Scraper v8 - Firecrawl API v2 Fixed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 300],
      "id": "trigger",
      "name": "When clicking 'Execute'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer fc-254bf0cc46604e939a9c510f834f242a" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": {
          "url": "https://brevard.realtdm.com/public/cases/list",
          "formats": ["markdown"],
          "onlyMainContent": false,
          "skipImages": true,
          "waitFor": 20000,
          "timeout": 300000
        },
        "options": { "timeout": 300000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-600, 300],
      "id": "firecrawl",
      "name": "Firecrawl API v2"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst markdown = data.markdown || '';\n\nconsole.log('Content length:', markdown.length);\n\nif (!markdown || markdown.length < 100) {\n  throw new Error('No content from Firecrawl');\n}\n\nconst prompt = `Extract Brevard surplus cases from this page.\\n\\nContent:\\n${markdown.substring(0, 12000)}\\n\\nFILTER criteria:\\n- Sale Date: 02/19/2026\\n- Status: ACTIVE\\n- Surplus: >= $25,000\\n- Owner: Individual (NOT LLC/INC/CORP)\\n\\nExtract: Case Number, Parcel Number, Case Parties, Property Address, Surplus Remaining\\n\\nOutput JSON only: {\"found\":true,\"cases\":[{\"Case Number\":\"\",\"Parcel Number\":\"\",\"Case Parties\":\"\",\"Property Address\":\"\",\"Surplus Remaining\":\"\"}]} or {\"found\":false,\"cases\":[]}`;\n\nreturn { json: { message: prompt } };",
        "functionName": "prepPrompt"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "prep",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer gsk_j6wi1f9fPvTACGx9WLjpWGdyb3FYxgj3sLs6CVcEXsTTSZzfYUAoE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": {
          "model": "llama-3.1-70b-versatile",
          "messages": [
            { "role": "user", "content": "{{ $json.message }}" }
          ]
        },
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 300],
      "id": "groq",
      "name": "Groq"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || '';\nlet parsed = { found: false, cases: [] };\n\ntry {\n  const jsonMatch = raw.match(/```json\\n?([\\s\\S]*?)\\n?```/) || raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n} catch (e) { }\n\nconsole.log('Parsed:', JSON.stringify(parsed));\n\nif (!parsed.found || !parsed.cases?.length) return [{ json: { found: false } }];\nreturn parsed.cases.map(c => ({ json: { ...c, found: true } }));",
        "functionName": "parseResponse"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "parse",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.found }}", "operation": "isFalse" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "if",
      "name": "Check"
    },
    {
      "parameters": { "jsCode": "return [{ json: { message: 'No cases found' } }];" },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 150],
      "id": "none",
      "name": "No Cases"
    },
    {
      "parameters": {
        "filePath": "D:\\share\\.vscode\\Brevard_With_Eval_Results.xlsx",
        "operation": "read",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [400, 450],
      "id": "excelRead",
      "name": "Read Excel"
    },
    {
      "parameters": {
        "jsCode": "const newCases = items[0].json.found ? items.slice(1) : [];\nconst existing = items[1]?.json?.data || items[1]?.json || [];\nconst all = [...(Array.isArray(existing) ? existing : []), ...newCases];\nreturn all.map(r => ({ json: r }));",
        "functionName": "combine"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "combine",
      "name": "Combine"
    },
    {
      "parameters": {
        "filePath": "D:\\share\\.vscode\\Brevard_With_Eval_Results.xlsx",
        "operation": "write",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [800, 300],
      "id": "excelWrite",
      "name": "Write Excel"
    }
  ],
  "connections": {
    "When clicking 'Execute'": { "main": [[{ "node": "Firecrawl API v2", "type": "main", "index": 0 }]] },
    "Firecrawl API v2": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Groq", "type": "main", "index": 0 }]] },
    "Groq": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Check", "type": "main", "index": 0 }]] },
    "Check": { "main": [[{ "node": "No Cases", "type": "main", "index": 0 }], [{ "node": "Read Excel", "type": "main", "index": 0 }]] },
    "No Cases": { "main": [] },
    "Read Excel": { "main": [[{ "node": "Combine", "type": "main", "index": 0 }]] },
    "Combine": { "main": [[{ "node": "Write Excel", "type": "main", "index": 0 }]] }
  }
}