Workflows/Brevard_Grok/brevard_scraper_v11.json
{
  "name": "Brevard Scraper v11 - Try Multiple URLs",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 300],
      "id": "trigger",
      "name": "When clicking 'Execute'"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "https://brevard.realtdm.com/public/cases/list",
        "scrapeOptions": {
          "options": {
            "onlyMainContent": false,
            "skipImages": true,
            "actions": [
              { "type": "wait", "milliseconds": 20000 },
              { "type": "scrape" }
            ],
            "mobile": false,
            "waitFor": 25000,
            "timeout": 300000
          }
        }
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [-600, 300],
      "id": "firecrawl",
      "name": "Firecrawl Browser"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst markdown = data.markdown || data.html || data.text || '';\nconst metadata = data.metadata || {};\n\nconsole.log('Status code:', metadata.statusCode);\nconsole.log('Content length:', markdown?.length || 0);\nconsole.log('Keys:', Object.keys(data));\n\n// Check if successful\nif (metadata.statusCode !== 200) {\n  console.log('Error:', metadata.error || 'Unknown');\n  throw new Error('Failed to load page: ' + (metadata.error || 'Status ' + metadata.statusCode));\n}\n\nif (!markdown || markdown.length < 100) {\n  throw new Error('No content scraped - page may need JavaScript interaction');\n}\n\nconst prompt = `Extract Brevard surplus cases from this page.\\n\\nContent:\\n${markdown.substring(0, 10000)}\\n\\nFILTER:\\n- Sale Date: 02/19/2026\\n- Status: ACTIVE\\n- Surplus >= $25,000\\n- Owner: Individual\\n\\nFields: Case Number, Parcel Number, Case Parties, Property Address, Surplus Remaining\\n\\nJSON: {\"found\":true,\"cases\":[{\"Case Number\":\"\",\"Parcel Number\":\"\",\"Case Parties\":\"\",\"Property Address\":\"\",\"Surplus Remaining\":\"\"}]} or {\"found\":false,\"cases\":[]}`;\n\nreturn { json: { message: prompt } };",
        "functionName": "prepPrompt"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "prep",
      "name": "Prepare Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer gsk_j6wi1f9fPvTACGx9WLjpWGdyb3FYxgj3sLs6CVcEXsTTSZzfYUAoE" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": {
          "model": "llama-3.1-70b-versatile",
          "messages": [
            { "role": "user", "content": "{{ $json.message }}" }
          ]
        },
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 300],
      "id": "groq",
      "name": "Groq"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || '';\nlet parsed = { found: false, cases: [] };\n\ntry {\n  const jsonMatch = raw.match(/```json\\n?([\\s\\S]*?)\\n?```/) || raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) parsed = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n} catch (e) { }\n\nif (!parsed.found || !parsed.cases?.length) return [{ json: { found: false } }];\nreturn parsed.cases.map(c => ({ json: { ...c, found: true } }));",
        "functionName": "parseResponse"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "parse",
      "name": "Parse"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.found }}", "operation": "isFalse" }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "if",
      "name": "Check"
    },
    {
      "parameters": { "jsCode": "return [{ json: { message: 'No cases found' } }];" },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 150],
      "id": "none",
      "name": "No Cases"
    },
    {
      "parameters": {
        "filePath": "D:\\share\\.vscode\\Brevard_With_Eval_Results.xlsx",
        "operation": "read",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [400, 450],
      "id": "excelRead",
      "name": "Read Excel"
    },
    {
      "parameters": {
        "jsCode": "const newCases = items[0].json.found ? items.slice(1) : [];\nconst existing = items[1]?.json?.data || items[1]?.json || [];\nconst all = [...(Array.isArray(existing) ? existing : []), ...newCases];\nreturn all.map(r => ({ json: r }));",
        "functionName": "combine"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "combine",
      "name": "Combine"
    },
    {
      "parameters": {
        "filePath": "D:\\share\\.vscode\\Brevard_With_Eval_Results.xlsx",
        "operation": "write",
        "sheetName": "Sheet1",
        "options": { "firstRowAsHeader": true }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [800, 300],
      "id": "excelWrite",
      "name": "Write Excel"
    }
  ],
  "connections": {
    "When clicking 'Execute'": { "main": [[{ "node": "Firecrawl Browser", "type": "main", "index": 0 }]] },
    "Firecrawl Browser": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Groq", "type": "main", "index": 0 }]] },
    "Groq": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Check", "type": "main", "index": 0 }]] },
    "Check": { "main": [[{ "node": "No Cases", "type": "main", "index": 0 }], [{ "node": "Read Excel", "type": "main", "index": 0 }]] },
    "No Cases": { "main": [] },
    "Read Excel": { "main": [[{ "node": "Combine", "type": "main", "index": 0 }]] },
    "Combine": { "main": [[{ "node": "Write Excel", "type": "main", "index": 0 }]] }
  }
}